.card-main {
    margin: 2%;
}

.user-profile {
    display: flex;
    margin: 1%;
}

.left-part, .right-part {
    flex: 1;
}

.user-profile-edit {
    margin: 4%;
    padding: 4%;
}

.user-profile-friends {
    display: flex;
    align-items: center;
    gap: 10px;
}

.center-align {
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ava {
    width: 20%;
    max-width: max-content;
}
